<DModal @title="Queued topic has been edited" @closeModal={{@closeModal}}>
  <:body>
    <p>{{@model.text}}</p>
  </:body>
  <:footer>
    <DButton class="btn-primary"
             @translatedLabel="Ok"
             @action={{@closeModal}}
    />
  </:footer>
</DModal>